Hola,
\
Hemos recibido una solicitud para recuperar tu contraseña en tu cuenta AgileRoadmap+.
\
Para restablecer la contraseña accede a la siguiente URL:
\
= edit_password_reset_url(locale, @user.password_reset_token)
\
Un saludo.