/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i UN ROADMAP ÁGIL
        %br/
        %i SIMPLE Y SENCILLO
      %p
        %i Herramienta de apoyo para establecer
        %br/
        %i el Agile Roadmap de tu equipo de trabajo.
      .da-img
        %iframe{allowfullscreen: "",
          frameborder: "0",
          height: "300",
          mozallowfullscreen: "",
          src: "//www.youtube.com/embed/VaCHhjqVKTs?rel=0&showinfo=0",
          webkitallowfullscreen: "",
          width: "530"}
    /.da-arrows
    /  %span.da-arrows-prev
    /  %span.da-arrows-next
  / /da-slider
/ /slider