/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i CLEAN & FRESH
        %br/
        %i FULLY RESPONSIVE
        %br/
        %i DESIGN
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        = image_tag("slider/1.png", alt: "")
    .da-slide
      %h2
        %i RESPONSIVE VIDEO
        %br/
        %i SUPPORT AND
        %br/
        %i MANY MORE
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
      .da-img
        %iframe{allowfullscreen: "", frameborder: "0", height: "300", mozallowfullscreen: "", src: "http://player.vimeo.com/video/47911018", webkitallowfullscreen: "", width: "530"}
    .da-slide
      %h2
        %i USING BEST WEB
        %br/
        %i SOLUTIONS WITH
        %br/
        %i HTML5/CSS3
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        = image_tag("slider/html5andcss3.png", alt: "")
    .da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
  / /da-slider
/ /slider