= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2
      Acerca de nosotros
  %p
    Este sitio ha sido elaborado en el marco del enfoque Tune-up.
  %p
    En Tune-up somos especialistas en formación, consultoría e implantación de prácticas ágiles. Para más información acceder a nuestra web
    = link_to 'www.tuneupprocess.com', 'http://www.tuneupprocess.com/'




