= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2
      Equipo AgileRoadmap+
  %p
    Este sitio web se ha desarrollado por Mario Pérez, como parte de su Trabajo de Tesis de Master realizado en el Departamento de Sistemas Informáticos y Computación (DSIC) de la Universidad Politécnica de Valencia (UPV), bajo la dirección del Dr. Patricio Letelier.
  .row.team
    .col-sm-3
      .thumbnail-style{ style: 'padding: 30px'}
        = image_tag("equipo/patricio.jpg", class: 'img-responsive')
        %h3
          %a
            Patricio Letelier
          %small
            Dr. Ingeniero en Informática
        -#%p
        -#  Creador del enfoque Tune-up.
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{ href: 'http://agilismoatwork.blogspot.com.es/'}
              %i.icon-bold
          %li
            %a{ href: 'https://twitter.com/yopolt'}
              %i.icon-twitter
          %li
            %a{ href: 'http://www.linkedin.com/in/letelier'}
              %i.icon-linkedin
          %li
            %a{ href: 'http://www.tuneupprocess.com/'}
              %i.icon-link

    .col-sm-3
      .thumbnail-style{ style: 'padding: 30px'}
        = image_tag("equipo/mario.jpg", class: 'img-responsive')
        %h3
          %a
            Mario Pérez
          %small
            Ingeniero Informático
        -#%p
        -#  Candidato a Máster en Ingeniería de Software.
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{ href: 'http://www.linkedin.com/pub/mario-p%C3%A9rez-alarc%C3%B3n/73/292/b02'}
              %i.icon-linkedin
          %li
            %a{ href: 'https://github.com/mapreal19' }
              %i.icon-github-alt
