= render 'layouts/top'
= render 'layouts/header'
= render 'slider'
.container
	.headline
		%h2 AgileRoadmap+
	.row
		.col-sm-12
			¿Estás interesado en implantar prácticas ágiles? ¿No sabes por dónde comenzar?
			En este sitio te ofrece conocimiento asociado a prácticas ágiles y te ayuda a establecer tu propio roadmap para implantación de prácticas ágiles.

