= render 'layouts/top'
= render 'layouts/header'
= render 'slider'
.container
  .headline{ style: 'margin-top: 30px'}
    %h2 Agile Roadmap+
  .row
    .col-sm-12
      ¿Estás interesado en implantar prácticas ágiles? ¿No sabes por dónde comenzar?
      Este sitio te ofrece conocimiento asociado a prácticas ágiles y te ayuda a establecer tu propio roadmap para implantación de prácticas ágiles.

    / Service Blocks
  .row{ style: 'margin-top: 40px'}
    .col-md-4
      .service
        %i.icon-resize-small.service-icon
        .desc
          %h4 Cónoce las prácticas ágiles
          %p Te ofrecemos un catálogo de prácticas ágiles que provienen de los métodos ágiles más populares y están explicadas de forma genérica para ser entendidas incluso en contextos diferentes al de desarrollo de software.
    .col-md-4
      .service
        %i.icon-cogs.service-icon
        .desc
          %h4 Evalúa prácticas versus objetivos
          %p Reflexiona respecto de tus objetivos de mejora y detecta qué prácticas pueden ayudarte a conseguir dichos objetivos.
    .col-md-4
      .service
        %i.icon-plane.service-icon
        .desc
          %h4 Construye tu Roadmap Ágil
          %p Crea tu propia lista ordenada de práctica ágiles que guiarán tus esfuerzos y estrategia de implantación del agilismo en tu contexto de trabajo.