= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2
      ¿Qué es AgileRoadmap+?
  %p
    AgileRoadmap+ es parte del enfoque Tune-up (
    = link_to 'www.tuneupprocess.com', 'http://www.tuneupprocess.com/'
    ). Tune-up ofrece una solución integral para mejorar procesos de producción, centrada en la gestión ágiles de proyectos y equipos de trabajo. Tune-up cubre los cuatro aspectos que debería abordar un proceso de mejora centrado en métodos ágiles:
  %ol
    %li
      Formación en los conocimientos necesarios (Kanban, Lean Development, Scrum y Extreme Programming).
    %li
      Diagnóstico del ámbito en el que se realizará la implantación y evaluación de prácticas ágiles que se aplicarán.
    %li
      Herramienta de apoyo para el enfoque. Disponemos de una herramienta propia Tune-up Process.
    %li
      Consultoría para el seguimiento y apoyo durante la implantación.
  %p
    AgileRoadmap+ condensa nuestra experiencia en el punto 2, es decir, en el diagnóstico y en la evaluación de prácticas ágiles.
  .row
    = image_tag 'modelo-agile-map.png', class: 'img-responsive'
  %br
  %p
    Esta imagen presenta el modelo asociado a AgileRoadmap+. Debe establecerse una priorización de los objetivos de mejora que se quieren conseguir. Cada práctica ágil contribuye a ciertos objetivos de mejora. Así, las prácticas ágiles pueden ordenarse según su contribución a los objetivos más importantes. Además, el esfuerzo de preparación para poder aplicar una práctica debería considerarse como un factor que puede hacer desistir de su aplicación, o al menos en decidir postergar su aplicación. Por otra parte, el nivel de aplicación de una práctica dará un margen mayor o menor de mejora, por ejemplo, si la práctica no está aplicada aportaría un mayor margen de mejora. También habría que considerar las relaciones entre prácticas, una práctica podría verse reforzada por la aplicación de otra práctica o verse inhibida por la ausencia de otra práctica. Finalmente, debería considerarse también los desafíos que suele enfrentar la implantación de una práctica, como otra consideración para la postergación de la implantación o descarte de una práctica.



