/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";

// Application wide
html, body {
  height: 100%;
}

.alert {
  margin-top: 10px;
}

.top {
  .language-switcher {
    margin-right: 5px;
  }
}

/* helper classes */

.col-centered {
  display: block;
  margin: 0 auto;
}

.center-img-text {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

/* colors */

.amarillo {
  background-color: blanchedalmond !important;
}

.resaltado {
  background-color: #ffc !important;
}

/* navbar */

.header .navbar-brand {
  font-size: 25px;
}

/* footer */

.footer {
  background: #3E4753 !important;
  font-weight: normal;
}

.footer a, .footer a:hover {
  //color: #34DBD4 !important;
}

.copyright {
  background: #585F69 !important;
  font-weight: normal;
}

.text_left {
  text-align: left;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    padding-left: 0;
  }
}

.field_with_errors {
  label {
    color: #B94A48 !important;
  }
  input {
    border-color: #B94A48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Registration and Login Page */

.reg-page {
  color: #555;
  padding: 30px;
  background: #fefefe;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee;
  margin-top: 20px;
}

/*Reg Header*/
.reg-header {
  color: #555;
  text-align: center;
  margin-bottom: 35px;
  border-bottom: solid 1px #eee;
}

.reg-header h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
  color: #777;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
