/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2014 © Agile Roadmap+
      .col-md-6
        -#%a{href: "#{root_url}", "data-push" => true}
        -#  %span.pull-right
        -#    AGILEROADMAP+
          -# image_tag("logo1-default.png", alt: 'Logo', id: 'logo-footer', class: 'pull-right')
          -#%img#logo-footer.pull-right{alt: "", src: "assets/logo1-default.png"}/
