/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 © Unify. ALL Rights Reserved.
          %a{href: "#"} Privacy Policy
          |
          %a{href: "#"} Terms of Service
      .col-md-6
        %a{href: "#{root_url}", "data-push" => true}
          %img#logo-footer.pull-right{alt: "", src: "assets/logo1-default.png"}/
