/ === Footer ===
.footer
  .container
    .row
      %a{ href: 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES'}
        %img.col-centered{ alt: 'Licencia de Creative Commons', src: 'http://i.creativecommons.org/l/by-sa/3.0/88x31.png' }
      .col-xs-12.text-center
        Agile Roadmap+ by
        = link_to 'Patricio Letelier', 'http://agilismoatwork.blogspot.com.es/p/doctor-en-informatica-profesor-del.html'
        is licensed under a
        = link_to 'Creative Commons Reconocimiento-CompartirIgual 3.0 Unported License', 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES'
      .col-xs-12.text-center
        = it("footer")
        = link_to 'blog.tuneupprocess.com', 'http://blog.tuneupprocess.com/'

