/ === Footer ===
.footer
  .container
    .row
      .col-md-6.md-margin-bottom-40
        .headline
          %h2 About
        %p.margin-bottom-25.md-margin-bottom-40 Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.
        .headline
          %h2 Monthly Newsletter
        %p Subscribe to our newsletter and stay up to date with the latest news and deals!
        %form.footer-subsribe
          .input-group
            %input.form-control{placeholder: "Email Address", type: "text"}/
            %span.input-group-btn
              %button.btn-u{type: "button"} Subscribe
      .col-md-6
        .headline
          %h2 Contact Us
        %address.md-margin-bottom-40
          25, Lorem Lis Street, Orange
          %br/
          California, US
          %br/
          Phone: 800 123 3456
          %br/
          Fax: 800 123 3456
          %br/
          Email:
          %a{href: "mailto:info@anybiz.com"} info@anybiz.com
        