/ === Top ===
.top
  .container
    %ul.loginbar.pull-right
      %li
        %i.icon-globe
        %a Languages
        %ul.lenguages
          %li.active
            %a{href: "#"}
              English
              %i.icon-ok
          %li
            %a{href: "#"} Spanish
      %li.devider
      %li
        %a{href: "page_faq.html"} Help
      %li.devider
      %li
        %a{href: "page_login.html"} Login
/ /top
/ === End Top ===