/ === Top ===
= I18n.locale
= link_to_unless I18n.locale == :en, "English", locale: :en 
.top
  .container
    %ul.loginbar.pull-right
      %li
        %i.icon-globe
        %a Languages
        %ul.lenguages
          = lang_link 'English', :en 
          = lang_link 'Spanish', :es
      %li.devider
      %li
        %a{href: "page_faq.html"} Help
      %li.devider
      %li
        %a{href: "page_login.html"} Login
/ /top
/ === End Top ===